!!! 5
html(lang="en")
	head
		title node-coverage Admin Interface
		link(rel="stylesheet", href="#{serverRoot}/style.css")
	body
		h3.header node-coverage 
			em=conf.htdoc
		form.content(action="merge", method="GET")
			h4 Reports from
				em=conf.report

			table.reports
				thead
					tr
						-if (canMerge)
							th.merge
								input(type="submit", value="Merge")
						th Report
						th Date
				tbody
					each report in reports
						tr
							-if (canMerge)
								td
									input(type="checkbox", name="report", value=report.id)
							td
								a(href="#{serverRoot}/r/#{report.id}") #{report.id}
							td
								em=report.date