!!! 5
html(lang="en")
	head
		title node-coverage Admin Interface
		link(rel="stylesheet", href="#{serverRoot}/style.css")
		script(src="#{serverRoot}/jQuery/jquery.min.js", type="text/javascript")
		script(src="#{serverRoot}/highcharts/highcharts.js", type="text/javascript")

		script
			var __report = !{JSON.stringify(report)}
		script(src="#{serverRoot}/loadCharts.js", type="text/javascript")
	body
		h3.header node-coverage
			em Stats & Graphs - #{name}

		.summary
			h2 Unused lines of code
				h1=report.unused
		.clear

		.content
			each packageReport, length in report.byPackage
				div(id="package"+length)
				table.chart
					thead
						tr
							th 
							th Unused lines
							th Percentage
					tbody
						each unused, file in packageReport
							tr
								td=file
								td=unused
								td
									-var percentage = 100.0 * unused / report.unused
									#{percentage.toFixed(2)}%
